$color-pink: #87509c;
$color-dark-pink: #643a79;
$color-button: #eb7d4b;
$color-button-border: #c86a40;
$color-green: #17c2a4;
$color-button-border-green: #14a58c;
$color-team: #e7f1f8;
$color-blue: #44bee8;
$color-orange: #ffdd99;
$color-dark-orange: #ebc985;
$color-rose: #d74680;
$color-footer-blue: #3c5499;
$color-input-blue: #273a71;
$color-footer-bot: #344b8e;
$color-button-blue: #30bae7;
$color-button-border-blue: #299ec5;
